name: Lua Linter

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Lua
        uses: leafo/gh-actions-lua@v10
        with:
          luaVersion: "5.1"
      - name: Set up LuaRocks
        uses: leafo/gh-actions-luarocks@v4
      - name: Install luacheck
        run: |
          luarocks install luacheck
      - name: Lint code
        run: |
          luacheck .
